pandas==2.2.3
pymongo==4.11.3
pydantic==2.10.6
langchain==0.3.21
scikit-learn==1.6.1
langchain_huggingface==0.1.2
langchain_groq==0.3.1
pinecone==6.0.2
transformers==4.50.0
langchain-core==0.3.47
langchain-community==0.3.20
pydantic-settings==2.8.1
python-dotenv==1.0.1
datasets==3.4.1
tqdm==4.67.1
typing-extensions==4.12.2
regex==2024.11.6
huggingface-hub==0.29.3
torch==2.6.0
#fastapi==0.115.12
#uvicorn==0.34.0
streamlit==1.43.2
requests==2.32.3